<%= render :layout => 'layouts/groups_layout' do%>

<div class="page-header">
<div class="btn-back" title="Atras" onclick="throwFade(); window.location='/grupos/<%=@id %>/tareas'; return false;" ></div>
     <h1 id="forms">Editar Tarea</h1>
</div>
<%= render 'form' %>
<%end%>