<%if @comment.usuario.id == current_user.id%>
	<div class="row">
		<div class="col-lg-6">
		<div class="well">
		 <fieldset>
		<legend>Editar Comentario</legend>
		<form method="post" action="/comments/editc/<%=@comment.id.to_s%>">	 	
			<div class="form-group">
		    	 <label for="inputTitle" class="col-lg-2 control-label">Contenido:</label>
				<div class="col-lg-10">
					<textarea cols="60" rows="15" name="body"><%=@comment.body%></textarea><br><br>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-2">
			<input class="btn btn-primary" type="submit" value="Editar">
			</div>
		</form>
		</div>
		</fieldset>
		</div>
		</div>
	</div>
<%else%>
	<h1>No puedes editar este comentario!</h1>
<%end%>
