
<%= render :layout => 'layouts/groups_layout' do%>
<div class="page-header">
<div class="btn-back" title="Atras" onclick="throwFade(); window.location='/grupos/<%=@id %>/temas'; return false;"></div>
     <h1 id="forms">Nuevo Tema</h1>
</div>


<%= render 'form' %>

<%end%>