<div class="page-header">
     <h1 id="forms">Nuevo Cuestionario</h1>
</div>

<%= render 'form' %>
<div class="col-lg-4 col-lg-offset-2">
  <button class="btn btn-primary " data-toggle="modal" data-target="#myModal2">
    Cargar Cuestionario
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lista de Cuestionarios Existentes</h4>
      </div>
      <div class="modal-body">
            <%= render 'lista_de_cuestionarios_popup' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


