<div class="panel panel-info">
  <div class="panel-heading"><center><h3><b>Resultados Generales</b></h3></center></div>  
  <div class="panel-body">
    <div class="list-group">
      <% cont=0%>
      <% @preguntas.each do |pregunta| %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Pregunta: <%= pregunta.texto %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Correctas:&nbsp;<%= @respuestas_correctas.at(cont) %> &nbsp;&nbsp;&nbsp; Incorrectas:&nbsp;<%= @respuestas_incorrectas.at(cont) %></th>
            </tr>
          </tbody>    
        </table>
        <% cont=cont+1 %>
        <br>
      <% end %>
    </div>
  </div>
</div>  