<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <form class="bs-example form-horizontal">
		  <fieldset>
		  <legend>Nombre:
		  	<%= @grupo.nombre %>
		  </legend>
		  <div class="form-group">
		    <div class="col-lg-10">
		     <b>Descripcion:</b><%= @grupo.descripcion %>
		    </div>
		   </div>
		  <legend>Llave:
		  	<% if @grupo.llave != nil %>
		  		<%= @grupo.llave %>
		  	<% else %>
		  		sin llave
		  	<% end %>
		  </legend>
  		  </fieldset>
		  </p>
		  (esta vista es solo para pruebas)
		  </p>
		</form>
		<a class="btn btn-primary btn-lg" href="/temas"> Home </a>
      </div>
    </div>
  </div>


