<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <form class="bs-example form-horizontal">
		  <fieldset>
		  <legend>Nombre:
		  	<%= @grupo.nombre %>
		  </legend>
		  <div class="form-group">
		    <div class="col-lg-10">
		     <b>Descripcion:</b><%= @grupo.descripcion %>
		    </div>
		   </div>
		  <legend>Llave:
		  	<% if @grupo.llave != "publico" %>
		  		<%= @grupo.llave %>
		  	<% else %>
		  		sin llave
		  	<% end %>
		  </legend>
  		  </fieldset>
		</form>
		<%if current_user!=nil%>
		<%= form_for([@grupo, @grupo.subscriptions.build]) do |f| %>
			<%if @grupo.estado == true %>
			<div class = "field">
				<h4><strong>Ingresar LLave</strong></h4>
				<%= f.text_field :llave %>
			</div>
			<%elsif @grupo.estado == false%>
				</p> Este grupo es publico
		  </p>
				<%= f.hidden_field :llave, :value =>"publico" %>
			<%end%>
			<div class = "action">
				
	    		<input type="submit" value="Suscribirse" class="btn btn-inverse">
			</div>
			<% end %>
		<%end%>
      </div>
    </div>
  </div>