<div class="page-header">
     <h1 id="forms">Suscribirse al grupo</h1>
</div>
<div class="panel panel-info">
      <div class="panel-heading"><%= @grupo.nombre %></div>
      <div class="panel-body">
        <%=@grupo.descripcion%>
      </div>
      <div class="panel-body">
        <%if current_user!=nil%>
		<%= form_for([@grupo, @grupo.subscripcions.build]) do |f| %>
			<%if @grupo.estado == true %>
                <%= f.text_field :llave ,:placeholder=>'Ingresar la llave', :size => 15%> 
			<%elsif @grupo.estado == false%>
				</p> Este grupo es publico</p>
				<%= f.hidden_field :llave, :value =>"publico" %>
			<%end%>
                <input type="submit" value="Suscribirse" class="btn btn-primary">
			<% end %>
		<%end%>
      </div>
</div>
 <a href="/grupos" class="btn btn-danger">Atras</a>


