<div class="page-header">
     <h1 id="forms">Invitar amigos al grupo</h1>
</div>


<div class="panel panel-info">
      <div class="panel-heading"><%= @grupo.nombre %></div>
      <div class="panel-body">
        <%if current_user!=nil%>
     <%= form_tag('/grupos/enviar_invitaciones/'+@grupo.id.to_s, :method=>'post') do%>
        <div class="form-group">
            <input type="text" class="form-control" name="correos" required placeholder="Ingrese emails separados por comas" data-role="tagsinput">
        </div>
        <button type="submit" class="btn btn-primary">Enviar invitaciones</button>
      <%end%>
      <% end %>
      </div>
</div>
<a href="/grupos" class="btn btn-danger">Atras</a>

