<div class="panel panel-info">
	<div class="panel-heading"><center><h3>Ingrese sus datos</h3></center>	</div>
	<div class="panel-body">	
		<% if @pass_error!=nil %>
		   	<div id ="errorRecuperarPass" class="alert alert-error">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      	<ul>
			         <li><%= @pass_error %></li>
		        </ul>
		   </div>
		<% end %>
	<fieldset>
		<form method="post" action= "send_password_mail">	 	
			<div class="form-group">
		    	<label for="inputTitle">Correo:</label>			
			    	<%= text_field_tag :mail, params[:mail], :class=>'form-control'  %><br>
				<label for="inputTitle">Ingrese los numeros:</label><br>			
					<%=recaptcha_tags%>
			</div>			
			<div align="right">
				<input align="right" class="btn btn-success" type="submit" value="Enviar">			
			</div>
		</form>		
	</fieldset>	
	</div>
</div>
	
	