<h1>Olvide mi contrasenia</h1>
	<div class="row">
		<div class="col-lg-6">
		<div class="well">
<% if @pass_error!=nil %>
   <div id ="errorRecuperarPass" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      	<ul>
         <li><%= @pass_error %></li>
        </ul>
   </div>
<% end %>
		 <fieldset>

		<legend>Ingrese su correo</legend>
		<form method="post" action= "send_password_mail">	 	
			<div class="form-group">
		    	 <label for="inputTitle" class="col-lg-2 control-label">Correo:</label>
				<div class="col-lg-10">
					
	           <%= text_field_tag :mail, params[:mail], :class=>'form-control'  %>
          <br><br>
				</div>
				
				<label for="inputTitle" class="col-lg-10 control-label">Ingrese las palabras:</label><br>
					<div class="col-lg-10">
			
				<%=recaptcha_tags%>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-2">
			<input class="btn btn-success" type="submit" value="Enviar">
			</div>
		</form>
		</div>
		</fieldset>
		</div>
		</div>
	</div>