<h1>Olvide mi contrasenia</h1>
	<div class="row">
		<div class="col-lg-6">
		<div class="well">
		 <fieldset>

		<legend>Ingrese su correo</legend>
		<form method="post" action= "send_password_mail">	 	
			<div class="form-group">
		    	 <label for="inputTitle" class="col-lg-2 control-label">Correo:</label>
				<div class="col-lg-10">
					<input type="text" name="mail"><br><br>
				</div>
				
				<label for="inputTitle" class="col-lg-10 control-label">Ingrese las palabras:</label><br>
					<div class="col-lg-10">
			
				<%=recaptcha_tags%>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-2">
			<input class="btn btn-primary" type="submit" value="Enviar">
			</div>
		</form>
		</div>
		</fieldset>
		</div>
		</div>
	</div>