<%if @usuario!=nil%>
<h1>Olvide mi Contrase単a</h1>
  <div class="row">
    <div class="col-lg-6">
    <div class="well">
<%= flash[:alert] %>
     <fieldset>

    <legend>Nueva contrase単a</legend>

    <form method="post" action="/usuarios/password_recovered/<%=@usuario.id.to_s%>">   
      <div class="form-group">
           <label for="inputTitle" class="col-lg-2 control-label">Contrase単a: </label>
          <input type="password" name="contrasenia_nueva"/><br><br>
          <label for="inputTitle" class="col-lg-2 control-label">Confirmar contrase単a: </label>
          <input type="password" name="contrasenia_nueva2"/><br><br>
          
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-2">
      <input class="btn btn-primary" type="submit" value="Confirmar">
      </div>
    </form>
    </div>
    </fieldset>
    </div>
    </div>
  </div>
  <%else%>
    <h1><%=@errorMessagge%></h1>
  <%end%>