<div class="panel panel-info">
	<div class="panel-heading">
		<center><h3>Olvide mi contraseña</h3></center>
	</div>
	<div class="panel-body">	
		<fieldset>
			<legend>Te hemos enviado un email con las instrucciones para recuperar tu cuenta.</legend>		
		</fieldset>
	</div>
</div>
	
	