<h1>Modificar Contrase単a</h1>
<%= form_for @usuario, :url =>edit_password_path, :method=>'post' do |usuario|  %>
<% usuario.hidden_field  :activa, :value=>true %>
<div class="row">
    <div class="col-lg-8">
            <div class="well">
              <form class="bs-example form-horizontal">
                <fieldset>
                  <legend>Ingrese sus datos para modificaciones.</legend>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-4 control-label">Contrase単a:</label>
                    <div class="col-lg-8">
                      <%= password_field_tag :contrasenia, params[:contrasenia], :class=>'form-control'  %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-4 control-label">Nueva Contrase単a:</label>
                    <div class="col-lg-8">
                      <%= password_field_tag :contrasenia_nueva, params[:contrasenia_nueva], :class=>'form-control', :required => true  %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-4 control-label">Confirmacion Contrase単a:</label>
                    <div class="col-lg-8">
                      <%= password_field_tag :contrasenia_nueva2,params[:contrasenia_nueva2], :class=>'form-control', :required => true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-4">
                      <button type="submit" class="btn btn-primary" >Guardar</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-4">
                      &nbsp;
                    </div>
                  </div>
                </fieldset>
              </form>
        </div>
    </div>
</div>
<% end %>