/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 121px;
    bottom: 61px;
    right: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*overflow-x: hidden;
    /*overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 121px;
    bottom: 61px;
    right: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*overflow-x: hidden;
    /*overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.new {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #428bca;
  color: white;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 80px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* mi css jojo*/

.sidebar2 {
  display: none;
}

@media (min-width: 768px) {
  .sidebar2 {
    position: fixed;
    top: 597px;
    bottom: 61px;
    right: 0;
    display: block;
    padding: 20px;
    background-color: white;
    border-right: 1px solid #eee;
  }
}

@media (min-width: 992px) {
  .sidebar2 {
    position: fixed;
    top: 597px;
    bottom: 61px;
    right: 0;
    display: block;
    padding: 20px;
    background-color: white;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar2 {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 80px;
  margin-left: -20px;
}
.nav-sidebar2 > li > a {
  padding-right: 20px;
  padding-left: 20px;
  display: none;
}
.nav-sidebar2 > .active > a,
.nav-sidebar2 > .active > a:hover,
.nav-sidebar2 > .active > a:focus {
  color: #fff;
  background-color: red;
}