<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style type="text/css">			
		p {font-family: Arial,Helvetica,sans-serif; color: #3e3e3e; font-size: 14px; }
		h3 {font-family: Arial,Helvetica,sans-serif; color: #3e3e3e; font-size: 18px;}
	</style>
  </head>
  <body>	
	<table border="0"> 
    	<th colspan="15" bgcolor="255E8A" width="12">
    	</th>
       	<th align="left">
      		<h3>
      			Saludos, <%= @user.nombre %>
      		</h3>      
      		<p>
				Cambiaste tu Contraseña de acceso.
				<br>
				Para confirmar la operacion sigue el siguiente enlace:	
				<br>
				<a href="<%= @url %>"><%= @url %></a>
				<br><br>
				Gracias, que tengas un buen dia!			
				<br><br>			
				<b><i>Staff de YoSistemas</i></b>
			</p>
			
      	</th>
	</table>	
 </body>
</html>