<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.nombre %></h1>
    <p>
     Se registro un nuevo comentario en el tema <%= @tema.titulo %>.<br>
     Para verlo visita la pagina:<br>
     <a href=<%= @url %>> Comentarios </a>
      <br>
    </p>
    <p>Staff de YoSistemas</p>
  </body>
</html>