<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.nombre %></h1>
    <p>
     Recibimos que se suscribio a un grupo <br>
     <br>
     
      <br>
    </p>
  
    
    <p>Staff de YoSistemas</p>
  </body>
</html>