<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.nombre %></h1>
    <p>
     Recibimos una solicitud de cambio de contraseña.<br>
     Para confirmar tu nueva contraseña haz click en el siguiente enlace:<br>
     <a href=<%= @url %>> Quiero recuperar mi contrasenia!</a>
      <br>
    </p>
  
    
    <p>Staff de YoSistemas</p>
  </body>
</html>