<div class="footer">
  <div class="container">
    <p class="text-muted"></a><img src="/assets/nuevologo.png" width="70px"> &reg; Copyright 2014 by Taller de Desarrollo de Software. All Rights Reserved.</p>
  </div>
</div>