

<br>
<br>
<footer id="footer">
  <div class="container">
          <div class="row">
            <div class="footer-ribon">
              <span>Info. Yo Sistemas</span>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h4>Yo Sistemas</h4>
              <p>Yo sistemas es un producto sin fines de lucro, dedicado al servicio de los estudiantes y los miembros
              que quieran pertenecer y formar parte de la comunidad universitaria</p>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <h4>T&eacute;rminos y condiciones</h4>
              <div id="tweet" class="twitter" data-account-id="crivosthemes">
                <p>V&eacute;a los t&eacute;rminos y clasusulas de uso de la p&aacute;gina web aqui
                <a href="/legal.html"> T&eacute;rminos y condiciones </a></p>
                
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="contact-details">
                <h4>Cont&aacute;ctanos</h4>
                <ul class="contact">
                  <li><p><i class="icon-map-marker"></i> <strong>Direcci&oacute;n:</strong> UCB Cochabamba</p></li>
                  <li><p><i class="icon-phone"></i> <strong>Tel&eacute;fono</strong> (591) 4-293-100</p></li>
                  <li><p><i class="icon-link"></i> <strong>Web:</strong> <a href="www.ucbcba.edu.bo"> www.ucbcba.edu.bo</a></p></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h4>S&iacute;guenos</h4>
              <div class="social-icons">
                <ul class="social-icons">
                  <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                  <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                  <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright" style="height:95x">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <a href="index.html" class="logo">
                  <img alt="Porto Website Template" src="img/logo-footer.png" width="100px">
                </a>
              </div>
              <div class="col-6">
                <p>&reg; Copyright 2013 by Taller de Desarrollo de Software. All Rights Reserved.</p>
              </div>
              <div>
                <nav id="sub-menu">
                  <ul>
                    <li><a href="page-faq.html">FAQ's</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
</footer>