<div class="footer">
  <div class="container">
    <p class="text-muted"></a><img src="/assets/nuevologo.png" width="70px"> &reg; Copyright 2014 by Taller de Desarrollo de Software. All Rights Reserved.
    <a href="page-faq.html" align="right">FAQ's</a> <a href="sitemap.html">Sitemap</a> <a href="contact-us.html">Contact   </p>
  </div>
</div>